!!!
%html
  %head
    %title Command Manuals
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/style.css")
  %body
    %nav.main-nav
      %ul.wrapper
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/list"} List of Commands
        %li
          %a{:href => "/search"} Search Commands

    #wrapper.wrapper
      #header
        %h1 Command Line Reference

      #content
        =yield

      #side_bar
        %h1 Side Bar
        %p
          This is the side bar of the webpage

  #footer
    %p
      This is the footer.
