%h1 List of Command Manuals
%p
%ol
  %li
    %a{:href => "/result?cmd=touch"} touch
  %li
    %a{:href => "/result?cmd=cp"} cp
  %li
    %a{:href => "/result?cmd=mkdir"} mkdir
  %li
    %a{:href => "/result?cmd=nano"} nano
  %li
    %a{:href => "/result?cmd=less"} less
  %li
    %a{:href => "/result?cmd=vim"} vim
